---
import type { GetStaticPaths } from 'astro';
import Layout from '../../layouts/Layout.astro';
import { paramsForLangPaths } from '../../utils/paramsForLangPaths';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { loadTranslation } from '../../utils/loadTranslation';

export const getStaticPaths = (() => {
    return paramsForLangPaths()
}) satisfies GetStaticPaths;
const { lang } = Astro.params;
let chosenLang = lang ?? 'en_us'

type TopTranslations = {
	top: {
		text: string;
		publisher: string;
	}
}

const t: TopTranslations = await loadTranslation(lang ?? 'en_us');
---

<Layout t={t}>
	<h1>{t.top.text}</h1>
	<a href={getRelativeLocaleUrl(chosenLang, "top/publisher", {normalizeLocale: false})}>{t.top.publisher}</a>
</Layout>
