---
import { Image } from 'astro:assets';
import DashboardHeaderMoney from '../../../assets/images/dashboard-header-money.svg'
import '@fontsource-variable/noto-serif-jp';

type PublisherFirstViewTranslations = {
    publisher_top: {
        first_view: {
            heading: string;
            sub_heading: string
        }
    }
}

interface Props {
    t: PublisherFirstViewTranslations
}

const {t} = Astro.props

const { params } = Astro;

const langPath = params.lang ?? 'en_us'
---
<div class="h-screen mx-24">
    <div class="whitespace-pre-line text-center">
        <h1 class=`text-4xl ${langPath}-h1`>{ t.publisher_top.first_view.heading }</h1>
        <h2 class="text-2xl">{ t.publisher_top.first_view.sub_heading }</h2>
    </div>
    <div class="w-full">
        <Image
            src={DashboardHeaderMoney}
            alt={"money"}
            class="mx-auto"
            loading={"eager"}
        />
    </div>
</div>

<style>
    .en_us-h1 {
        font-weight: bold;
    }
    .ja_jp-h1 {
        font-family: 'Noto Serif JP Variable', serif;
    }
</style>